@font-face {
  font-family: "YSText";
  src: local("YSText"), local("YS Text"), local("YS-Text"), url(../fonts/text-regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "YSText";
  src: local("YSText"), local("YS Text"), local("YS-Text"), url(../fonts/text-medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "YSText";
  src: local("YSText"), local("YS Text"), local("YS-Text"), url(../fonts/text-black.woff);
  font-weight: 900;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
}

body {
  width: 100%;
  font-family: "YSText";
  letter-spacing: 0;
  font-weight: 500;
  line-height: 120%;
  color: black;
  font-size: 1.5rem;
}
header {
  position: relative;
  width: 100%;
  padding-top: calc(32px + 93 * ((100vw - 375px) / 1065));
  padding-bottom: 125px;
  padding-left: calc(32px + 230 * ((100vw - 375px) / 1065));
  padding-bottom: 355px;
}
@media (min-width: 600px) {
  header {
    padding-bottom: calc(32px + 93 * ((100vw - 375px) / 1065));
  }
}
header::before {
  content: "";
  opacity: 0.22;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))) 0, -webkit-gradient(linear, left top, right top, from(#FF5C4D), color-stop(25%, #EB469F), color-stop(72%, #8341EF), to(#3F68F9)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFF)) 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%) 0, linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFF 100%) 0;
  position: absolute;
  background-blend-mode: screen;
  top: 0;
  left: 0;
  z-index: -1;
  width: calc(375px + 1065 * ((100vw - 375px) / 1065));
  height: calc(635px + 169 * ((100vw - 375px) / 1065));
  background-repeat: no-repeat;
}
@media (max-width: 600px) {
  header {
    padding-bottom: calc(348px + 7 * ((100vw - 375px) / 225));
  }
}

img[alt=logo] {
  width: calc(112px + 64 * ((100vw - 375px) / 1065));
}

#first-title {
  letter-spacing: -1.12px;
  font-weight: 900;
  line-height: 100%;
  margin-top: calc(32px + 40 * ((100vw - 375px) / 1065));
  font-size: calc(36px + 36 * ((100vw - 375px) / 1065));
  width: calc(311px + 109 * ((100vw - 375px) / 1065));
}

#offer {
  letter-spacing: 0;
  font-weight: 500;
  line-height: 130%;
  font-size: calc(18px + 6 * ((100vw - 375px) / 1065));
  width: calc(311px + 154 * ((100vw - 375px) / 1065));
  margin-top: calc(35px + 13 * ((100vw - 375px) / 1065));
}
#offer img {
  width: calc(102px + 47 * ((100vw - 375px) / 1065));
}

#offer-button {
  letter-spacing: 0;
  font-weight: 500;
  line-height: 91.667%;
  font-size: calc(18px + 4 * ((100vw - 375px) / 1065));
  margin-top: calc(40px + 4 * ((100vw - 375px) / 1065));
  padding-top: calc(18px + 6 * ((100vw - 375px) / 1065));
  padding-bottom: calc(18px + 6 * ((100vw - 375px) / 1065));
  padding-left: calc(42px + 6 * ((100vw - 375px) / 1065));
  padding-right: calc(42px + 6 * ((100vw - 375px) / 1065));
  text-align: center;
  border-radius: 36px;
  background: #FFDE40;
  -webkit-box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
          box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
  cursor: pointer;
}
@media (max-width: 600px) {
  #offer-button {
    position: fixed;
    bottom: calc(24px + 6 * ((100vw - 375px) / 1065));
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 82.933%;
  }
}

#purple-bubble {
  position: absolute;
  top: calc(-10px + 93 * ((100vw - 600px) / 840));
  left: calc(285px + 319 * ((100vw - 600px) / 840));
  width: calc(243px + 323 * ((100vw - 375px) / 1065));
  opacity: 0.5;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  z-index: -1;
}
@media (max-width: 600px) {
  #purple-bubble {
    display: none;
  }
}

#scooter {
  position: absolute;
  top: 370px;
  top: calc(24px + 25 * ((100vw - 600px) / 840));
  left: 50px;
  left: calc(261px + 299 * ((100vw - 600px) / 840));
  width: calc(353px + 469 * ((100vw - 375px) / 1065));
  z-index: -1;
}
@media (max-width: 600px) {
  #scooter {
    top: calc(310px + 60 * ((100vw - 375px) / 225));
  }
}
@media (max-width: 600px) {
  #scooter {
    left: calc(5px + 45 * ((100vw - 375px) / 225));
  }
}

#main {
  padding-left: calc(32px + 230 * ((100vw - 375px) / 1065));
  padding-right: calc(32px + 230 * ((100vw - 375px) / 1065));
}

#second-title {
  letter-spacing: -1.12px;
  font-weight: 900;
  line-height: 100%;
  font-size: 3.5rem;
  width: 57.43%;
}
@media (min-width: 1200px) and (max-width: 1800px) {
  #second-title {
    font-size: 3.3rem;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  #second-title {
    font-size: 2.6rem;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  #second-title {
    width: 72%;
    font-size: 2.2rem;
  }
}
@media (max-width: 600px) {
  #second-title {
    width: 85%;
    font-size: 2rem;
  }
}

#cards {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.333em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 2.5416em;
  -webkit-column-gap: 12.8146%;
     -moz-column-gap: 12.8146%;
          column-gap: 12.8146%;
  max-width: 100%;
}
@media (min-width: 900px) and (max-width: 1200px) {
  #cards {
    font-size: 1.3rem;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  #cards {
    font-size: 1.1rem;
  }
}
@media (max-width: 600px) {
  #cards {
    font-size: 1rem;
  }
}

.card:nth-of-type(1n+1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 39.5196%;
      flex-basis: 39.5196%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  min-width: 320px;
}
@media (min-width: 900px) and (max-width: 1200px) {
  .card:nth-of-type(1n+1) {
    min-width: 240px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .card:nth-of-type(1n+1) {
    min-width: 170px;
  }
}
@media (max-width: 600px) {
  .card:nth-of-type(1n+1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 311px;
  }
  .card:nth-of-type(1n+1) > img {
    margin-right: 16px;
  }
}

.card:nth-of-type(2n+2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 43.6681%;
      flex-basis: 43.6681%;
  min-width: 358px;
}
@media (min-width: 900px) and (max-width: 1200px) {
  .card:nth-of-type(2n+2) {
    min-width: 278px;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .card:nth-of-type(2n+2) {
    min-width: 208px;
  }
}
@media (max-width: 600px) {
  .card:nth-of-type(2n+2) {
    min-width: 311px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card:nth-of-type(2n+2) > img {
    margin-right: 16px;
  }
}

.card > img {
  width: 83px;
  margin-bottom: 1em;
}

.title {
  max-width: 90.2838%;
  min-width: 33.9519%;
  margin-top: 2.666em;
  margin-bottom: 1em;
  letter-spacing: -0.96px;
  font-weight: 900;
  line-height: 100%;
  font-size: 3rem;
}
@media (max-width: 600px) {
  .title {
    font-size: 2rem;
    margin-top: 2.25em;
    margin-bottom: 1em;
    letter-spacing: -0.64px;
    font-weight: 900;
    line-height: 100%;
  }
}
@media (min-width: 900px) and (max-width: 1200px) {
  .title {
    font-size: 2.7rem;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .title {
    font-size: 2rem;
  }
}

#p1 {
  max-width: 46.3%;
  min-width: 320px;
}
@media (min-width: 900px) and (max-width: 1200px) {
  #p1 {
    font-size: 1.3rem;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  #p1 {
    max-width: 100%;
    font-size: 1.1rem;
  }
}
@media (max-width: 600px) {
  #p1 {
    max-width: 100%;
    font-size: 1rem;
  }
}