@font-face {
    font-family: "YSText";
    src: local("YSText"),
        local("YS Text"),
        local("YS-Text"),
        url(../fonts/text-regular.woff);
        font-weight: 400;
}

@font-face {
    font-family: "YSText";
    src: local("YSText"),
        local("YS Text"),
        local("YS-Text"),
        url(../fonts/text-medium.woff);
        font-weight: 500;
}

@font-face {
    font-family: "YSText";
    src: local("YSText"),
        local("YS Text"),
        local("YS-Text"),
        url(../fonts/text-black.woff);
        font-weight: 900;
}

$main-font: "YSText";

@mixin font($fweight: 500, $lineh: 120%, $lspacing: 0){
    letter-spacing: $lspacing;
    font-weight: $fweight;
    line-height: $lineh;
}

$maxWidth: 1440;
$minWidth: 375;

@mixin adaptive-value($property, $startSize, $minSize, $type: 3, $containerWidth: $maxWidth, $minWidth: $minWidth){
    $addSize: $startSize - $minSize;
    @if $type==1{
        #{$property}: $startSize + px;
        @media (min-width: #{$containerWidth + px}){
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}));
        }
    }
    @else if $type==2{
        #{$property}: $startSize + px;
        @media (max-width: #{$containerWidth + px}){
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$containerWidth - $minWidth}));
        }
    }
    @else{
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}));
    }
}

@mixin phone{
    @media (max-width: 600px){@content;}
}

@mixin tablet{
    @media (min-width: 600px) and (max-width: 900px){@content;}
}

@mixin tablet-landscape{
    @media (min-width: 900px) and (max-width: 1200px){@content;}
}

@mixin desktop{
    @media (min-width: 1200px) and (max-width: 1800px){@content;}
}

@mixin big-desktop{
    @media (min-width: 1800px){@content;}
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

.wrapper{
    width: 100%;
}

body{
    width: 100%;
    font-family: $main-font;
    @include font;
    color: black;
    font-size: 1.5rem;

    @include phone{
        
    }
}

header{
    position: relative;
    width: 100%;
    @include adaptive-value("padding-top", 125, 32);
    @include adaptive-value("padding-bottom", 125, 32, 1, 600);
    @include adaptive-value("padding-left", 262, 32);
    
    &::before{
        content: "";
        opacity: 0.22;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%) 0, linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%) 0;
        position: absolute;
        background-blend-mode: screen;
        top: 0;
        left: 0;
        z-index: -1;
        @include adaptive-value("width", 1440, 375);
        @include adaptive-value("height", 804, 635);
        background-repeat: no-repeat;
    }

    @include adaptive-value("padding-bottom", 355, 348, 2, 600);
}

img[alt="logo"]{
    @include adaptive-value("width", 176, 112)
}

#first-title{
    @include font(900, 100%, -1.12px);
    @include adaptive-value("margin-top", 72, 32);
    @include adaptive-value("font-size", 72, 36);
    @include adaptive-value("width", 420, 311);
}

#offer{
    @include font(500, 130%);
    @include adaptive-value("font-size", 24, 18);
    @include adaptive-value("width", 465, 311);
    @include adaptive-value("margin-top", 48, 35);

    img{
        @include adaptive-value("width", 149, 102);
    }
}

#offer-button{
    @include font(500, 91.667%);
    @include adaptive-value("font-size", 22, 18);
    @include adaptive-value("margin-top", 44, 40);
    @include adaptive-value("padding-top", 24, 18);
    @include adaptive-value("padding-bottom", 24, 18);
    @include adaptive-value("padding-left", 48, 42);
    @include adaptive-value("padding-right", 48, 42);
    text-align: center;
    border-radius: 36px;
    background: #FFDE40;
    box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
    cursor: pointer;
    @include phone{
        position: fixed;
        @include adaptive-value("bottom", 30, 24);
        left: 50%;
        transform: translate(-50%);
        width: 82.933%;
    }
}

#purple-bubble{
    position: absolute;
    @include adaptive-value("top", 83, -10, $minWidth: 600);
    @include adaptive-value("left", 604, 285, $minWidth:600);
    @include adaptive-value("width", 566, 243);
    opacity: 0.5;
    filter: blur(100px);
    z-index: -1;
    @include phone{
        display: none;
    }
}

#scooter{
    position: absolute;
    @include adaptive-value("top", 370, 310, 2, 600);
    @include adaptive-value("top", 49, 24, $minWidth:600);
    @include adaptive-value("left", 50, 5, 2, 600);
    @include adaptive-value("left", 560, 261, $minWidth:600);
    @include adaptive-value("width", 822, 353);
    z-index: -1;
}

#main{
    @include adaptive-value("padding-left", 262, 32);
    @include adaptive-value("padding-right", 262, 32);
}

#second-title{
    @include font(900, 100%, -1.12px);
    font-size: 3.5rem;
    width: 57.430%;

    @include desktop{
        font-size: 3.3rem;
    }

    @include tablet-landscape{
        font-size: 2.6rem;
    }

    @include tablet{
        width: 72.0%;
        font-size: 2.2rem;
    }

    @include phone{
        width: 85.0%;
        font-size: 2rem;
    }
}

#cards{
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.333em;
    display: flex;
    row-gap: 2.5416em;
    column-gap: 12.8146%;
    max-width: 100%;

    @include tablet-landscape{
        font-size: 1.3rem;
    }

    @include tablet{
        font-size: 1.1rem;
    }

    @include phone(){
        font-size: 1rem;
    }
}

.card:nth-of-type(1n+1){
    display: flex;
    flex-direction: column;
    flex-basis: 39.5196%;
    flex-shrink: 1;
    min-width: 320px;
    @include tablet-landscape{
        min-width: 240px;
    }

    @include tablet{
        min-width: 170px;
    }

    @include phone{
        flex-direction: row;
        align-items: center;
        min-width: 311px;
        > img{
            margin-right: 16px;
        }
    }
    
}

.card:nth-of-type(2n+2){
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-basis: 43.6681%;
    min-width: 358px;
    @include tablet-landscape{
        min-width: 278px;
    }

    @include tablet{
        min-width: 208px;
    }

    @include phone{
        min-width: 311px;
        flex-direction: row;
        align-items: center;
        > img{
            margin-right: 16px;
        }
    }
}

.card > img{
    width: 83px;
    margin-bottom: 1em;
}

.title{
    max-width: 90.2838%;
    min-width: 33.9519%;
    margin-top: 2.666em;
    margin-bottom: 1em;
    @include font(900, 100%, -0.96px);
    font-size: 3rem;

    @include phone{
        font-size: 2rem;
        margin-top: 2.25em;
        margin-bottom: 1em;
        @include font(900, 100%, -0.64px);
    }

    @include tablet-landscape{
        font-size: 2.7rem;
    }

    @include tablet{
        font-size: 2rem;
    }
}

#p1{
    max-width: 46.3%;
    min-width: 320px;
    @include tablet-landscape{
        font-size: 1.3rem;
    }
    @include tablet{
        max-width: 100%;
        font-size: 1.1rem;
    }
    @include phone{
        max-width: 100%;
        font-size: 1rem;
    }
}