@font-face {
    font-family: "YSText";
    src: local("YSText"),
        local("YS Text"),
        local("YS-Text"),
        url(../fonts/text-regular.woff);
        font-weight: 400;
}

@font-face {
    font-family: "YSText";
    src: local("YSText"),
        local("YS Text"),
        local("YS-Text"),
        url(../fonts/text-medium.woff);
        font-weight: 500;
}

@font-face {
    font-family: "YSText";
    src: local("YSText"),
        local("YS Text"),
        local("YS-Text"),
        url(../fonts/text-black.woff);
        font-weight: 900;
}

$main-font: "YSText";

@mixin font($fweight: 500, $lineh: 28.8px, $lspacing: 0){
    letter-spacing: $lspacing;
    font-weight: $fweight;
    line-height: $lineh;
}

$maxWidth: 1440;
$minWidth: 375;

@mixin adaptive-value($property, $startSize, $minSize, $type: 3, $containerWidth: $maxWidth, $minWidth: $minWidth){
    $addSize: $startSize - $minSize;
    @if $type==1{
        #{$property}: $startSize + px;
        @media (min-width: #{$containerWidth + px}){
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}));
        }
    }
    @else if $type==2{
        #{$property}: $startSize + px;
        @media (max-width: #{$containerWidth + px}){
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$containerWidth - $minWidth}));
        }
    }
    @else{
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - #{$minWidth + px}) / #{$maxWidth - $minWidth}));
    }
}

@mixin phone{
    @media (max-width: 600px){@content;}
}

@mixin tablet{
    @media (min-width: 600px) and (max-width: 900px){@content;}
}

@mixin tablet-landscape{
    @media (min-width: 900px) and (max-width: 1200px){@content;}
}

@mixin desktop{
    @media (min-width: 1200px) and (max-width: 1800px){@content;}
}

@mixin big-desktop{
    @media (min-width: 1800px){@content;}
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: unset;
}

ul,
ol,
li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

.wrapper{
    width: 100%;
    overflow-x: hidden;
}

body{
    width: 100%;
    font-family: $main-font;
    overflow-x: hidden;
    @include font;
    @include phone{
        @include font($lineh:19.2px);
    }
    color: black;
    font-size: 1.5rem;
}

header{
    position: relative;
    width: 100%;
    @include adaptive-value("padding-top", 125, 32);
    @include adaptive-value("padding-bottom", 125, 32, 1, 600);
    @include adaptive-value("padding-left", 262, 32);
    
    &::before{
        content: "";
        opacity: 0.22;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%) 0, linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%) 0;
        position: absolute;
        background-blend-mode: screen;
        top: 0;
        left: 0;
        z-index: -1;
        @include adaptive-value("width", 1440, 375);
        @include adaptive-value("height", 804, 635);
        background-repeat: no-repeat;
    }

    @include adaptive-value("padding-bottom", 355, 348, 2, 600);
}

img[alt="logo"]{
    @include adaptive-value("width", 176, 112)
}

#first-title{
    @include font(900, 72px, -1.12px);
    @include phone{
        @include font(900, 36px, -1.12px);
    }
    @include tablet-landscape{
        @include font(900, 52px, -1.12px);
    }
    @include tablet{
        @include font(900, 48px, -1.12px);
    }
    @include adaptive-value("margin-top", 72, 32);
    @include adaptive-value("font-size", 72, 36);
    @include adaptive-value("width", 420, 311);
}

#offer{
    @include font(500, 31.2px);
    @include phone{
        @include font(500, 23.4px);
    }
    @include adaptive-value("font-size", 24, 18);
    @include adaptive-value("width", 465, 311);
    @include adaptive-value("margin-top", 48, 35);

    img{
        @include adaptive-value("width", 149, 102);
    }
}

#offer-button{
    @include font(500, 22px);
    @include adaptive-value("font-size", 22, 18);
    @include adaptive-value("margin-top", 44, 40);
    @include adaptive-value("padding-top", 24, 18);
    @include adaptive-value("padding-bottom", 24, 18);
    @include adaptive-value("padding-left", 48, 42);
    @include adaptive-value("padding-right", 48, 42);
    text-align: center;
    border-radius: 36px;
    background: #FFDE40;
    box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
    cursor: pointer;
    @include phone{
        position: fixed;
        @include adaptive-value("bottom", 30, 24);
        left: 50%;
        transform: translate(-50%);
        width: 82.933%;
        z-index: 2;
    }
}

#purple-bubble{
    position: absolute;
    @include adaptive-value("top", 83, -10, $minWidth: 600);
    @include adaptive-value("left", 604, 285, $minWidth:600);
    @include adaptive-value("width", 566, 243);
    opacity: 0.5;
    filter: blur(100px);
    z-index: -1;
    @include phone{
        display: none;
    }
}

#scooter{
    position: absolute;
    @include adaptive-value("top", 370, 310, 2, 600);
    @include adaptive-value("top", 49, 24, $minWidth:600);
    @include adaptive-value("left", 50, 5, 2, 600);
    @include adaptive-value("left", 560, 261, $minWidth:600);
    @include adaptive-value("width", 822, 353);
    z-index: -1;
}

#main{
    @include adaptive-value("padding-left", 262, 32);
    @include adaptive-value("padding-right", 262, 32);
}

#second-title{
    @include font(900, 56px, -1.12px);
    font-size: 3.5rem;
    width: 57.430%;

    @include desktop{
        font-size: 3.3rem;
    }

    @include tablet-landscape{
        @include font(900, 48px, -1.12px);
        font-size: 2.6rem;
    }

    @include tablet{
        @include font(900, 40px, -1.12px);
        width: 72.0%;
        font-size: 2.2rem;
    }

    @include phone{
        @include font(900, 32px, -1.12px);
        width: 85.0%;
        font-size: 2rem;
    }
}

#cards{
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.333em;
    display: flex;
    row-gap: 2.5416em;
    column-gap: 12.8146%;
    max-width: 100%;

    @include tablet-landscape{
        font-size: 1.3rem;
    }

    @include tablet{
        font-size: 1.1rem;
    }

    @include phone(){
        font-size: 1rem;
    }
}

.card:nth-of-type(1n+1){
    display: flex;
    flex-direction: column;
    flex-basis: 39.5196%;
    flex-shrink: 1;
    min-width: 320px;
    @include tablet-landscape{
        min-width: 240px;
    }

    @include tablet{
        min-width: 170px;
    }

    @include phone{
        flex-direction: row;
        align-items: center;
        min-width: 311px;
        > img{
            margin-right: 16px;
        }
    }
    
}

.card:nth-of-type(2n+2){
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-basis: 43.6681%;
    min-width: 358px;
    @include tablet-landscape{
        min-width: 278px;
    }

    @include tablet{
        min-width: 208px;
    }

    @include phone{
        min-width: 311px;
        flex-direction: row;
        align-items: center;
        > img{
            margin-right: 16px;
        }
    }
}

.card > img{
    width: 83px;
    margin-bottom: 1em;
}

.title{
    max-width: 90.2838%;
    min-width: 33.9519%;
    margin-bottom: 1em;
    @include font(900, 48px, -0.96px);
    font-size: 3rem;

    @include phone{
        font-size: 2rem;
        margin-bottom: 1em;
        @include font(900, 32px, -0.64px);
    }

    @include tablet-landscape{
        @include font(900, 40px, -0.64px);
        font-size: 2.7rem;
    }

    @include tablet{
        @include font(900, 32px, -0.64px);
        font-size: 2rem;
    }
}

.m1{
    margin-top: 2.666em;

    @include phone{
        margin-top: 2.25em;
    }
}

#p1{
    max-width: 46.3%;
    min-width: 320px;
    @include tablet-landscape{
        font-size: 1.3rem;
    }
    @include tablet{
        max-width: 50%;
        min-width: 250px;
        font-size: 1.1rem;
    }
    @include phone{
        max-width: 100%;
        min-width: 280px;
        font-size: 1rem;
    }
}

#pictures{
    position: relative;
    font-size: 1.5rem;
    margin-top: 3.2083em;
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    flex-wrap: wrap;
    transform: rotate(2deg);

    @include phone{
        font-size: 1rem;
        transform: none;
        flex-wrap: nowrap;
        min-width: 0;
        transform: scale(109.3294%);
    }

    @include tablet{
        font-size: 1rem;
    }

    @include tablet-landscape{
        font-size: 1.3rem;
    }

    @include big-desktop{
        font-size: 2.5rem;
    }
}

.picture{
    position: relative;
    flex-shrink: 0;
    width: calc(50% - 0.5em);

    > img {
        width: 100%;
        border-radius: 2.666em;

        @include phone{
            
        }
    }

    > img:nth-child(2) {
        position: absolute;
        transform: rotate(-2deg);
        z-index: 1;
    }

    @include phone{
        width: 100%;

        > img:nth-child(2) {
            display: none;
        }
    }
}

#pictures .slick-arrow{
    position: absolute;
    bottom: -72px;
    left: 50%;
    font-size: 0;
    width: 48px;
    height: 48px;
    opacity: 1;
    transition: opacity 0.5s;
}

#pictures .slick-arrow.slick-disabled{
    opacity: 0.5;
    transition: opacity 0.5s;
}

#pictures .slick-arrow.slick-prev{
    transform: translateX(-115%);
    background: url(../img/left-arrow.svg) 0 0 / 100% no-repeat;
}

#pictures .slick-arrow.slick-next{
    transform: translateX(15%);
    background: url(../img/right-arrow.svg) 0 0 / 100% no-repeat;
}

.slick-list{
    display: flex;
    width: 100%;
}

.slick-track{
    display: flex;
    align-items: flex-start;
    column-gap: 100px;
    width: 100%;
}

.slick-slide{
    width: 100%;
}

.picture:nth-of-type(1){
    > img:nth-child(2) {
        top:-18.7363%;
        left:-47.4945%;
        width:85.5851%;
        filter: drop-shadow(-14px 51px 100px #D2BDFF);
    }
}

.picture:nth-of-type(2){
    > img:nth-child(2) {
        top:-25.2723%;
        left:76.9063%;
        width:35.7298%;
        filter: drop-shadow(-14px 51px 100px #C1A4FF);
    }
}

.picture:nth-of-type(4){
    > img:nth-child(2) {
        top:36.8191%;
        left:48.5838%;
        width:86.274%;
        filter: drop-shadow(-14px 51px 100px #C1A4FF);
    }
}

.picture:nth-of-type(2n+2){
    transform: translateY(-50%);

    @include phone{
        transform: none;
    }
}

#piccontainer{
    position: relative;
}

#icon2{
    display: none;
    @include phone{
        display: block;
        position: absolute;
        width: 26.366%;
        top: -21%;
        left: 85.209%;
        z-index: 1;
    }
}

#b1{
    margin-top: 5.333em;
    width: 100%;
    position: relative;

    @include phone{
        margin-top: 7em;
    }
}

#b1-f{
    max-width: 45.4%;
    min-width: 420px;

    @include tablet{
        min-width: 300px;
    }

    @include tablet-landscape{
        min-width: 380px;
    }

    @include phone{
        max-width: 90%;
        min-width: 270px;
    }
}

#b1-f > p{
    @include tablet-landscape{
        font-size: 1.3rem;
    }

    @include tablet{
        font-size: 1.1rem;
    }

    @include phone(){
        font-size: 1rem;
    }
}

#b1 img{
    z-index: -1;
    width: 892px;
    position: absolute;
    top: -240px;
    left: 33.4061%;

    @include tablet-landscape{
        top: -100px;
        width: 673px;
    }
    @include tablet{
        top: -73px;
        width: 543px;
        left: 34.4%;
    }
    @include phone{
        display: none;
    }
} 

#b2{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
    margin-top: 5.333em;

    @include phone{
        margin-top: 2.2916em;
        flex-direction: column;
        justify-content: flex-start;
    }
}

#b2-f{
    max-width: 45.8515%;
    min-width: 400px;

    @include tablet{
        min-width: 260px;
    }

    @include tablet-landscape{
        min-width: 320px;
    }

    @include phone{
        max-width: 100%;
        min-width: 270px;
    }
}

#b2-f > p{
    @include tablet-landscape{
        font-size: 1.3rem;
    }

    @include tablet{
        font-size: 1.1rem;
    }

    @include phone(){
        font-size: 1rem;
    }
}

#b2 img{
    z-index: -1;
    position: absolute;
    left: -198px;
    top: -73px;
    max-width: 71.179%;

    @include tablet-landscape{
        left: -198px;
        max-width: 85%;
    }
    @include tablet{
        top: -50px;
        left: -155px;
        max-width: 85%;
        min-width: 350px;
    }
    @include phone{
        position: static;
        max-width: 100%;
        transform: scale(1.4) translateX(-12px) translateY(5px);
    }
} 

#abonement{
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 24px 48px;
    margin-top: 2em;
    border-radius: 36px;
    background: #FFDE40;
    box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
    cursor: pointer;
    @include font($lineh: 22px);

    @include phone{
        padding: 18px;
        margin-top: 1.333em;
        font-size: 1.125rem;
        width: 100%;
    }
    @include tablet-landscape{
        font-size: 1.3rem;
        padding: 22px 44px;
    }
    @include tablet{
        padding: 20px 40px;
        font-size: 1.2rem;
    }
}

footer{
    font-size: 0.8125rem;
    color: #C5C5C5;
    @include font($fweight:400,$lineh:15.6px);
    @include adaptive-value("padding-left", 262, 32);
    @include adaptive-value("padding-right", 262, 32);
    margin-top: 5.333em;
    margin-bottom: 5.333em;

    @include phone{
        font-size: 0.625rem;
        @include font($fweight:400,$lineh:12px);
    }
    @include tablet{
        font-size: 0.7rem;
        @include font($fweight:400,$lineh:13px);
    }
}

footer a{
    text-decoration: underline;
}